page-login {
  .btn-login{
      width: 100%;
      height: 40px;
  }

  .password-showhide{
    color: #272727;
    position: absolute;
    right: 45px;
    margin-top: -30px;
    font-weight: 600;
  }

  .recent-login-div {
    height: 100%;
    padding: 20px;
  }
  .recent-login-div img {
      margin-left: -6px;
      height: 50px;
      margin-top: 15%;
      margin-bottom: 33px;
  }
  .recent-login-div h2 {
      color: white;
      font-size: 26px;
      font-weight: 500;
      letter-spacing: -0.2px;
      margin-bottom: 5px;
  }
  .recent-login-div p {
      margin-bottom: 21px;
  }
  .divider-text {
      background-color: transparent !important;
  }
  .divider .divider-text:before, .divider .divider-text:after {
      opacity: 0.5 !important;
  }
  .recent-login-div .btn {
      height: 45px;
      font-size: 14px;
      font-weight: 500;
  }
  .divider .divider-text{
    font-size: 14px !important;
  }
  .recent-login-div-step2 img{
      height: 55px;
      margin-top: 10%;
      text-align: center;
      width: 100%;
      margin-left: -7px;
      margin-bottom: 26px;
  }
  .recent-login-div-step2 h3{
    margin-bottom: 21px;
    color: white;
    font-size: 22px;
    text-align: center;
  }
  .recent-login-div-step2 .avatar-content i{
    font-size: 24px;
  }
  .recent-login-div-step2 {
    height: 100%;
    padding: 30px;
  }
  .recent-login-div-step2 .btn {
    height: 45px;
    font-size: 15px;
    font-weight: 500;
  }
  .recent-login-div-step0{
    height: 100%;
    padding: 30px;
  }
  .recent-login-div-step0 h4{
    margin-bottom: 9px;
      font-size: 19px !important;
      margin-top: 11px;
  }
  .recent-login-div-step0 img{
    height: 55px;
    margin-top: 10%;
    text-align: center;
    width: 100%;
    margin-left: -7px;
    margin-bottom: 26px;
  }
  .recent-login-div-step0 p {
    margin-bottom: 21px;
  }

  .bg-kartika{
    background-color: color($colors, 'kartika')!important;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

  .form-control {
	  display: block;
	  width: 100%;
	  padding: 1rem !important;
	  font-size: 1.4rem !important;
	  line-height: 1.5 !important;
	  height: auto;
	  // background: #f9f9f9 !important;
	  background-clip: padding-box;
  }

  .card {
    box-shadow: none;
    transition: all .3s ease-in-out;
  }

  .admin-mode{
    height: 40px;
    width: 40px;
    position: fixed;
    right: 0px;
    top: 0px;
  }
}
