<ion-content class="bg-kartika login align-items-center d-flex" padding>
  <div class="align-items-center mt-1" style="color: white;">
    <div class="card m-auto" style="border-radius: 30px; background-color: transparent;max-height: 90vh;">
      <div class="card-body m-auto">
        <div class="text-center">
          <img src="assets/images/logo.png" class="mb-2 mt-1" style=" height: 200px;">
          <h3 ion-text color="light">Masuk ke akun anda</h3>
          <p class="px-2" ion-text style="font-size: 17px;">Gunakan username dan password untuk akses ke akun anda.</p>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorLogin == true">
          {{ errorLoginMsg }}
        </div>
        <form [formGroup]="loginForm" class="mb-2">
          <div class="form-group mb-50">
            <label class="font-medium-1" style="color: white;">Username</label>
            <input class="form-control" type="text" placeholder="username" [(ngModel)]="data.username"
            formControlName="username" required style="background-color: transparent; color: white;">
          </div>
          <div class="form-group">
            <label class="font-medium-1" style="color: white;">Password</label>
            <input [type]="passwordType" class="form-control" placeholder="Password" placeholder="e.g ********" [type]="passwordType"
            [(ngModel)]="data.password" formControlName="password" required style="background-color: transparent; color: white;">
            <i style="color: white; font-weight: 200; font-size: 25px; margin-top: -35px;" [class]="(passwordType == 'text') ? 'bx bx-show-alt password-showhide' : 'bx bx-hide password-showhide'" (click)="showHidePassword()"></i>
          </div>
          <button type="submit" class="btn glow btn-login mt-2 btn-primary font-medium-2  btn-login" style="color: white;" [disabled]="!loginForm.valid" (click)="login()">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>

</ion-content>
