<ion-header>
  <ion-navbar color="kartika">
    <ion-item class="p-0 m-0 header" style="background-color: transparent; color: white; box-shadow: none;">
      <ion-label class="m-0 p-0">
        <img src="../../assets/images/logo.png" width="40px" class="ml-1 mr-1" style="display:inline-block" height="40px"/>
        <span style="vertical-align: middle; font-size:22px">Mulai Ulangan</span>
      </ion-label>
    </ion-item>
    <ion-buttons right class="align-items-center d-flex">
			<button ion-button icon-only class="mr-1" (click)="home()">
				<i class='bx bx-home-alt' ></i>
			</button>
		</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="align-items-center d-flex" padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="align-items-center">
    <div class="text-center">
      <img src="../../assets/images/logo.png" class="mb-2 mt-1" style=" height: 70px;">
      <h3 ion-text color="dark"><b>Pilih Mata Pelajaran</b></h3>
    </div>

    <hr class="shadow my-2 px-1" style="background-color:#128646">

    <div class="list-group">
      <div class="card" *ngFor="let list of list_data">
        <div class="card-body p-1">
          <ion-grid>
            <!-- Mapel -->
            <ion-row>
              <ion-col class="col-5 font-weight-bold">
                Nama Pelajaran
              </ion-col>
              <ion-col class="col-1">
                :
              </ion-col>
              <ion-col class="col-auto text-truncate" style="width: 100%; flex: 0%;">
                {{ list.nama_mata_pelajaran }}
              </ion-col>
            </ion-row>
            <!-- Soal -->
            <ion-row>
              <ion-col class="col-5 font-weight-bold">
                Jumlah Soal
              </ion-col>
              <ion-col class="col-1">
                :
              </ion-col>
              <ion-col class="col-auto text-truncate" style="width: 100%; flex: 0%;">
                {{ list.total_soal }} Soal
              </ion-col>
            </ion-row>
            <!-- Waktu Pengerjaan -->
            <ion-row>
              <ion-col class="col-5 font-weight-bold">
                Waktu Pengerjaan
              </ion-col>
              <ion-col class="col-1">
                :
              </ion-col>
              <ion-col class="col-auto text-truncate" style="width: 100%; flex: 0%;">
                {{ list.durasi_pengerjaan_mata_pelajaran }} Menit
              </ion-col>
            </ion-row>
          </ion-grid>
          <button button style="background-color:#128646; color: white;" type="button" class="btn btn-lg mt-2 btn-block" [disabled]="list.total_soal == 0 || list.status_soal == 'done'"  (click)="mulai_mengerjakan(list.serial_id_mata_pelajaran, list.nama_mata_pelajaran)"><span>{{ (list.status_soal == 'done') ? 'Sudah Dikerjakan' : 'Mulai' }}</span> <i *ngIf="list.status_soal == 'not_done'" class='bx bx-right-arrow-alt' style="vertical-align: middle; top: 0px;"></i></button>
        </div>
      </div>
    </div>

  </div>
</ion-content>
