<ion-header>
  <ion-navbar color="kartika">
    <ion-item class="p-0 m-0 header" style="background-color: transparent; color: white; box-shadow: none;">
      <ion-label class="m-0 p-0">
        <img src="../../assets/images/logo.png" width="40px" class="ml-1 mr-1" style="display:inline-block" height="40px"/>
        <span style="vertical-align: middle; font-size:22px">Beranda</span>
      </ion-label>
    </ion-item>
    <ion-buttons right class="align-items-center d-flex" (click)="logout()">
			<button ion-button icon-only class="mr-1">
				<i class='bx bx-log-in-circle' ></i>
			</button>
		</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-barantum  login align-items-center d-flex" padding>
  <div class="align-items-center">
    <div class="text-center">
      <img src="../../assets/images/logo.png" class="mb-2 mt-1" style=" height: 70px;">
      <h3 ion-text color="dark"><b>APLIKASI UJIAN SMK KARTIKATAMA 1 METRO</b></h3>

    </div>
    <hr class="shadow my-2 px-1" style="background-color:#128646">
    <div class="card m-auto">
      <div class="card-body p-3">
        <ion-grid>
          <!-- Nama -->
          <ion-row>
            <ion-col class="col-4 font-weight-bold">
              Nama
            </ion-col>
            <ion-col class="col-1">
              :
            </ion-col>
            <ion-col class="col-7 text-truncate" style="width: 100%; flex: 0%;">
              {{ data_siswa['nama_siswa'] }}
            </ion-col>
          </ion-row>
          <!-- Kelas -->
          <ion-row>
            <ion-col class="col-4 font-weight-bold">
              Kelas
            </ion-col>
            <ion-col class="col-1">
              :
            </ion-col>
            <ion-col class="col-7 text-truncate" style="width: 100%; flex: 0%;">
              {{ data_siswa['nomor_kelas'] }} {{ data_siswa['nama_jurusan'] }} {{ data_siswa['sub_jurusan_siswa'] }}
            </ion-col>
          </ion-row>
          <!-- NISN -->
          <ion-row>
            <ion-col class="col-4 font-weight-bold">
              NISN
            </ion-col>
            <ion-col class="col-1">
              :
            </ion-col>
            <ion-col class="col-7 text-truncate" style="width: 100%; flex: 0%;">
              {{ data_siswa['nisn_siswa'] }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <button ion-button color="kartika" type="button" class="btn btn-lg mt-2 btn-block" (click)="mulaiUjian()"><span>Mulai Ujian</span> <i class='bx bx-right-arrow-alt' style="vertical-align: middle; top: 0px;"></i></button>

  </div>
</ion-content>
