page-soal {
  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
  .font-global{
    font-family: 'Varela Round', sans-serif!important;
  }

 .chosen {
  position: absolute;
  left: 10px;
  font-size: 47px;
  top: -10px;
  color: green;
  font-weight: 900;
 }

 .chosen-area {
  margin-right: 5px;
  display: inline-block;
  font-size: 30px;
  color: #ffC977;
  vertical-align: middle;
 }

 .text-question{
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  position: fixed;
 }
}
