<ion-header>
  <ion-navbar color="kartika">
    <ion-item class="p-0 m-0 header" style="background-color: transparent; color: white; box-shadow: none;">
      <ion-label class="m-0 p-0">
        <img src="../../assets/images/logo.png" width="40px" class="ml-1 mr-1" style="display:inline-block" height="40px"/>
        <span style="vertical-align: middle; font-size:22px">{{ nama_mata_pelajaran }}</span>
      </ion-label>
    </ion-item>
    <ion-buttons right class="align-items-center d-flex">
			<button ion-button icon-only class="mr-1" (click)="back()">
				<i class='bx bx-exit' ></i>
			</button>
		</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="font-global">

    <h4 class="font-global mb-1"><b>Pertanyaan : </b></h4>
    <div  class="font-global" style="margin-bottom: 12px;" [innerHTML]="soal_sekarang.deskripsi_soal"></div>

    <hr class="shadow my-2 px-1" style="background-color:#419e6b">

    <h4 class="mb-2" *ngFor="let pilihan of soal_sekarang.jawaban_soal;" (click)="jawab(pilihan)" style="position: relative;">
    </h4>
        <div class="mb-2 h-auto d-inline-block" *ngFor="let pilihan of soal_sekarang.jawaban_soal;">
          <ion-grid>
            <ion-row>
              <ion-col class="col-1 mr-2">
                <i class='bx bx-circle chosen-area' style="margin-right: 5px;"></i>
                <i class='bx bx-check chosen' *ngIf="jawaban.value == pilihan.value"></i>
              </ion-col>
              <ion-col class="col-auto">
                <span class=" text-question" >{{ pilihan['label'] }}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

  </div>

  <ion-grid class="text-center font-global">
    <ion-row>
      <ion-col class="col-6">
        <button type="button" class="btn btn-primary glow btn-login mt-2  font-medium-2  btn-block" (click)="sebelumnya()" [disabled]="this.soal_sekarang.nomor_soal == 1"><i class='bx bx-left-arrow-alt' ></i>Sebelumnya ({{ (soal_sekarang.nomor_soal == 1) ? '0' : (soal_sekarang.nomor_soal - 1) }})</button>
      </ion-col>
      <ion-col class="col-6">
        <button *ngIf="isLast == false" type="button" class="btn btn-primary glow btn-login mt-2  font-medium-2  btn-block" (click)="berikutnya()">({{ soal_sekarang.nomor_soal + 1 }}) Berikutnya <i class='bx bx-right-arrow-alt' ></i></button>
        <button *ngIf="isLast == true" type="button" class="btn btn-primary glow btn-login mt-2  font-medium-2  btn-block" (click)="berikutnya('selesai')">Finish </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <hr class="shadow my-2 px-1" style="background-color:#419e6b">

  <h4 class="font-global"><b>Daftar Pertanyaan : </b></h4>
  <ul class="list-group list-group-flush mb-1 font-global">
    <li class="list-group-item list-group-item-action px-1 ripple" *ngFor="let data of list_data" [style.background]="(data.jawaban !== null && data.jawaban !== undefined && data.jawaban.length !== 0) ? 'rgba(5, 255, 5, 0.41)' : ''">
      <div class="media d-flex align-items-center">
        <div class="avatar {{(data.jawaban !== null && data.jawaban !== undefined && data.jawaban.length > 0) ? 'bg-primary' : 'bg-light'}} m-0">
          <div class="avatar-content">
            <i class="bx bx-{{(data.jawaban !== null && data.jawaban !== undefined && data.jawaban.length > 0) ? 'check-circle' : 'info-circle'}}" style="font-size: 3.4rem;"></i>
          </div>
        </div>
        <div class="media-body ml-1 text-truncate">
          <h5 class="mb-0 mt-0 font-weight-bold text-truncate font-global" ion-text>
            {{ (data.jawaban == null || data.jawaban == undefined || data.jawaban.length == 0) ? "Belum Terjawab" : "Terjawab" }}
          </h5>
        </div>
        <div class="ml-auto d-flex align-items-center pl-1">
          <button class="btn btn-icon rounded-circle btn-primary glow mt-1" type="button" [disabled]="data.jawaban == null || data.jawaban == undefined || data.jawaban.length == 0 " (click)="detail_soal(data)">
            <i class='bx bx-show' ></i>
          </button>
        </div>
      </div>
    </li>
  </ul>



</ion-content>
