<ion-header>
  <ion-navbar color="kartika">
    <ion-item class="p-0 m-0 header" style="background-color: transparent; color: white; box-shadow: none;">
      <ion-label class="m-0 p-0">
        <img src="../../assets/images/logo.png" width="40px" class="ml-1 mr-1" style="display:inline-block" height="40px"/>
        <span style="vertical-align: middle; font-size:22px">{{ content.nama_mata_pelajaran }}</span>
      </ion-label>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="font-global">

    <h4 class="font-global mb-1"><b>Pertanyaan : </b></h4>
    <div class="font-global" style="margin-bottom: 12px;" [innerHTML]="content.deskripsi_soal"></div>

    <hr class="shadow my-2 px-1" style="background-color:#419e6b">

    <!-- <h4 class="mb-2" style="position: relative;">
    </h4> -->
    <div class="h-auto d-inline-block">
      <ion-grid>
        <ion-row>
          <ion-col class="col-1 mr-2">
            <i class='bx bx-circle chosen-area' style="margin-right: 5px;"></i>
            <i class='bx bx-check chosen'></i>
          </ion-col>
          <ion-col class="col-auto">
            <span class=" text-question" >{{ content.jawaban.label }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  <button type="button" class="btn btn-primary glow btn-login mt-2  font-medium-2  btn-login btn-block" (click)="dismiss()">Kembali</button>

  </div>

</ion-content>
